.contenitore{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.banner, .fotoPost, .funzioni, .testi {
    width: 100%;
    max-width: 375px;  
    min-width: 300px; 
    background-color: #5d5c5d47;
}
.banner{

    height: 54px;
    display: flex;

}
.fotoProfilo{
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-circle {
width: 50px;
}
.nomeERuolo{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
}
.nome{
    font-size: 1em;
     font-weight: bold;
     color: rgb(219, 219, 219);
}
.ruolo{   
    font-size: 0.75em;
    font-weight: bold;
}

.fotoPost img{
    width: 100%;
    height: 100%;
        object-fit: cover;
}
.funzioni{
    height: 36px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
.fSinistra, .fDestra {
    display: flex;
    flex-direction: row;
}
p-button{
padding-right: 10px;
}


.fDestra{
    justify-content: flex-end;
}
.like{
    font-size: 1.25em;
    padding-left: 12px;
}
.nomeEContenuto{
    padding: 12px;
}
.mostraCommenti, .aggiungiCommento{
    padding-left: 12px;
    padding-top: 5px;

}.aggiungiCommento{
    margin-bottom: 5px;
}

.mostraCommenti, .aggiungiCommento, .ruolo{
        color: #a3a3a3bc;
}