@for (post of listaPost; track post.id; let i = $index) {
<div class="contenitore">

    <div class="banner">
        <div class="fotoProfilo">
            <img src="assets/img/profilo-anonimo.png" alt="profilo" class="img-circle">
        </div>
        <div class="nomeERuolo">
            <span class="nome">{{post.utente.nome}} {{post.utente.cognome}}</span>
            <span class="ruolo">{{post.utente.ruolo.nome}}</span>
        </div>
    </div>
    <div class="fotoPost">
        <p-image src="assets/img/Sally.JPG" alt="cane"  width="100%" height="100%" object-fit="cover" [preview]="true"/>
    </div>
    <div class="funzioni">
        <div class="fSinistra">
            <p-button icon="pi pi-heart" severity="help" [text]="true" />
            <p-button icon="pi pi-comment" severity="help" [text]="true"/>
            <p-button icon="pi pi-send" severity="help" [text]="true"/>
        </div>
        <div class="fDestra">
            <p-button icon="pi pi-bookmark" severity="help" [text]="true"/>
        </div>
    </div>
    <div class="testi">
        <span  class="like">Piace a x persone</span>
        <div class="nomeEContenuto">
            <span class="nome">{{post.utente.nome}} {{post.utente.cognome}} -</span><span>{{post.contenuto}}</span>
        </div>
        <p-button class="mostraCommenti" label="Mostra Commenti" (click)="mostra(post.id)" [rounded]="true" severity="secondary" size="small" />
        <span class="aggiungiCommento">Aggiungi un commento</span>
    </div>
</div>
}