@for (post of listaPost; track post.id; let i = $index) {
  <div class="contenitore">
    <div class="banner">
      <div class="fotoProfilo">
        <img
          [src]="post.utente.avatar"
          alt="profilo"
          class="img-circle"
        />
      </div>
      <div class="nomeERuolo">
        <span class="nome">
          {{ post.utente.nome }} {{ post.utente.cognome }}
        </span>
        <span class="ruolo">
          {{ post.utente.ruolo.nome }}
        </span>
      </div>
    </div>
    <div class="fotoPost">
      <p-image
        [src]="post.immagine"
        alt="cane"
        width="100%"
        height="100%"
        [preview]="true"
      />
    </div>
    <div class="funzioni">
      <div class="fSinistra">
        <p-button
          icon="pi pi-heart"
          [severity]="post.liked ? 'danger' : 'help'"
          (click)="toggleLike(post)"
          [text]="true"
        />
        <p-button
          icon="pi pi-comment"
          severity="help"
          [text]="true"
        />
        <p-button
          icon="pi pi-send"
          severity="help"
          [text]="true"
        />
      </div>
      <div class="fDestra">
        <p-button
          icon="pi pi-bookmark"
          severity="help"
          [text]="true"
        />
      </div>
    </div>
    <div class="testi">
      <span class="like">
        Piace a {{post.likeCount}} persone
      </span>
      <div class="nomeEContenuto">
        <span class="nome">
          {{ post.utente.nome }} {{ post.utente.cognome }} -
        </span>
        <span>
          {{ post.contenuto }}
        </span>
      </div>
      <p-button
        class="mostraCommenti"
        label="Mostra Commenti"
        (click)="mostra(post)"
        [rounded]="true"
        severity="secondary"
        size="small"
      />
      <span class="aggiungiCommento">
        Aggiungi un commento
      </span>
    </div>
    @if (post.commentiVisibili) {
      @for (commento of post.listaCommenti; track commento.id) {
          <div class="commenti">
              <div class="fotoProfilo">
                <img
                  [src]="commento.utente.avatar"
                  alt="profilo"
                  class="img-circle"
                />
              </div>
              <div class="destro">

                <span class="nomeC">
                  {{ commento.utente.nome }} {{ commento.utente.cognome }}
                </span>
                <span class="ruoloC">
                  {{ commento.utente.ruolo.nome }}
                </span>
                
                <div class="contenuto">
                  <span class="contenutoC">
                    {{ commento.testo }}
                  </span>
                </div>
              </div>
            </div>
        }
      }
  </div>
}
