.contenitore{
    width: 60.6%;;
    display: flex;
    flex-direction: column;
    align-items: center;
  height: calc(100vh - 90px);
    background-color: rgba(205, 204, 204, 0.164);
  padding-top: 10px;
  padding-bottom: 10px;
}
.elementi{
    display: flex;
  flex-direction: column;
  gap:10px;
    flex: 1;
  overflow-y: auto;

}
.elementi ,.esci{
  width: 80%;
}
.esci{
  margin-top: auto
}
