 @for (utente of listaUtenti; track utente.id; let i = $index) {
     <div class="box">
         <div class="immagineETesto">
             <img src="{{utente.avatar}}" alt="profilo" class="img-circle">
             <div class="nomeERuolo">
                 <span class="nome">{{utente.nome}} {{utente.cognome}}</span>
                 <span class="ruolo">{{utente.ruolo.nome}}</span>
                </div>
            </div>
            <p-button class="segui" icon="pi pi-plus-circle" label="segui"  variant="outlined" severity="help"   ></p-button>    
        </div>
    }