.contenitore{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;

}
.logo{
    padding-left: 10px;
}
.animazione{
    width: 120px;
}
.destra{
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.box{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: rgba(205, 204, 204, 0.164);
    cursor: pointer;
    border-radius: 8px;
    border: none;
    transition: background-color 0.2s ease;
    
}
.box:hover{
  background-color: rgba(0, 0, 0, 0.08);
  
}
.img-circle{
       width: 50px;
    border-radius: 50px;
}

.testo{
    display: flex;
    flex-direction: column;
}
.messaggio{
    font-size: small;
    color: grey;
}