<div class="contenitore">
    <div class="logo">
        <div class="logo">
            <img class="animazione" [src]="gifVisible ? gifUrl : staticUrl" (mouseenter)="startGif()" alt="logo">
        </div>
    </div>
    <div class="destra">
        <div class="notifiche">
            <p-button icon="pi pi-bell" severity="help" [text]="true" />
        </div>
        <div class="utente">
            <button class="box">
                    <img src="assets/img/profilo-anonimo.png" alt="profilo" class="img-circle">
                    <div class="testo">
                        <span class="messaggio">Bentornato!</span>
                        <span class="nome">Michele Barretta</span>
                </div>
            </button>
        </div>
    </div>
</div>