.sfondo{
    background-color: #24002a; 
    color: #ffffff;            
    width: 100vw;  /* 100% della larghezza viewport */
  height: 100vh; /* 100% dell’altezza viewport */
  
}
.centro{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;  /* 100% della larghezza viewport */
    height: 100vh; /* 100% dell’altezza viewport */
}
.sinistra, .destra{
    display: flex;
    width: 50%;
    justify-content: center;
}
.sinistra{
    padding-left: 10%;
}
.animazione{
    max-width: 360px;
    width: 100%;
}
.destra{
    padding-right: 10%;   
}

.contenitore{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 16px rgba(211, 211, 211, 0.744);
    width: 240px;
    height: 320px;
    border-radius: 8px;
}
.dati{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23px;
}
.titolo{
    margin: 20px;
    font-size: xx-large;
    font-weight: 500;

}
.email{
    border: 1px solid gray;
    width: 200px;
    margin: 10px;
        margin-top: 0px;
    border-radius: 6px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.email span{
    padding: 5px;


}
.emailI{
    width: 164px;
        border: none;
        background-color: transparent;
}
.password{
    border: 1px solid gray;
    width: 200px;
    border-radius: 6px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.password span{
    padding: 5px;
}
.passwordI{
    background-color: transparent;
    width: 140px;
        border: none;
}
.ricordami{
    width: 100%;
    padding: 10px;
    
    display: flex;
    flex-direction: row;
        align-items: center;
}

.testo{
    padding-left: 5px;
}


.tasti{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 10px;
}
.loginB{
    background-color: rgb(124, 33, 170);
    color: white;
    width: 200px;
    height: 34px;
    border: transparent;
    border-radius: 6px;
}

.dimenticato{
        margin-top: 10px;
}
.dimenticatoA{
    text-decoration: none;
    color: rgb(255, 255, 255)

}