.sfondo{
    background-color: #24002a; /* dark mode */
    background-image:  url('/assets/img/background-vuoto.png');
    background-size: cover;       /* adatta allo schermo */
    background-position: center;  /* centrato */
    background-repeat: no-repeat; /* evita ripetizioni */
    color: #ffffff;            /* testo chiaro */
    
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.logo{
    padding-left: 20px;
}
.animazione{
    width: 120px;
}
.accesso{
padding-right: 20px;
}
.registrati{
    padding-left: 20px;
}

.centro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenuto{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.sinistra{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
    
}
.punchline{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 400px;
    justify-content: center;

}
.descrizione{
    font-size: 2em;
    width: 100%;
}
.sottotitolo{
font-size: 2em;
    width: 100%;
}
.bot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.immagineBot{
    width: 200px;
}
.immagineBot img  {
    max-width: 100%;
    height: 100%;
}
.messaggioBot{
    width: 200px;
    padding-bottom: 300px;
}
.messaggioBot img{
    width: 100%;
}
.destra{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 20px;
    
}
.esempiPost{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.postSinistro{
    padding: 20px;
    padding-top: 150px;
}
.postDestro, .postSinistro{
    flex: 1 1 300px;
    max-width: 375px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.banner, .fotoPost, .funzioni, .testi {
    width: 100%;
    max-width: 375px;  
    min-width: 300px; 
    background-color: #5d5c5d47;
}
.banner{

    height: 54px;
    display: flex;
    flex-direction: row;
}
.fotoProfilo{
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-circle {
  width: 77.78%;      
  height: 77.78%;
  border-radius: 50%;
  object-fit: cover;  /* riempie il cerchio senza distorsioni */
}
.nomeERuolo{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
}
.nome{
    font-size: 1em;
     font-weight: bold;
     color: rgb(219, 219, 219);
}
.ruolo{   
    font-size: 0.75em;
    color: #a3a3a3bc;
    font-weight: bold;
}

.fotoPost img{
    max-width: 100%;
    height: 100%;
        object-fit: cover;
}
.funzioni{
    height: 36px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
.fSinistra, .fDestra {
    display: flex;
    flex-direction: row;
}
p-button{
padding-right: 10px;
}


.fDestra{
    justify-content: flex-end;
}
.testi{
    height: auto;
}
.like{
    font-size: 1.25em;
    padding-left: 12px;
}
.nomeEContenuto{

    height: auto;
    padding: 12px;
}
.mostraCommenti, .aggiungiCommento{
    padding-left: 12px;
    padding-top: 5px;
    color: #a3a3a3bc;
}.aggiungiCommento{
    margin-bottom: 5px;
}

.banner, .fotoPost, .funzioni, .testi {
    width: 100%;
    max-width: 375px; 
}

@media (max-width: 1200px) {
    .sinistra, .destra {
        width: 100%;  
        padding: 0;
    }
    
    .contenuto {
        flex-direction: column;
        align-items: center;
    }
        .descrizione {
        font-size: 1.5em;
        width: 100%;
    }

    .sottotitolo {
        font-size: 1.1em;
        width: 90%;
        margin: 0 auto;
    }
    .esempiPost{
    flex-wrap: wrap;
}
.punchline{
    height: 250px;
}
.bot{
    height: 425px;
}
.postSinistro, .postDestro{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
        flex-direction: row;
        height: 100px;
    }
.logo{
    padding-left: 0px;
}
    .animazione {
        width: 150px;
    }

    .accesso {
        padding-right: 0;
    }
        .sinistra {
        display: flex;
        flex-direction: column;
    }

 /* PROMUOVI i figli di .sinistra a figli di .contenuto */
  .sinistra {
    display: contents; /* permette a .punchline e .bot di diventare fratelli di .destra */
  }

  /* Assicurati che ora i tre elementi (punchline, destra, bot) siano flex items di .contenuto */
  .contenuto {
    display: flex;
    flex-direction: column; /* punchline sopra, poi destra, poi bot */
    align-items: center;
  }

  /* Ordina gli elementi come vuoi */
  .punchline { order: 1; width: 100%; }
  .destra    { order: 2; width: 100%; }
  .bot       { order: 3; width: 100%; margin-top: 20px; }

  /* Normalizza larghezze interne (le card restano centrate e responsive) */
  .esempiPost {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Se .punchline o .bot avevano altezza fissa, ridimensionali per mobile */
  .punchline { height: auto; padding: 20px 0; }
  .bot { height: auto; padding: 20px 0; }

  /* Eventuale correzione immagini bot */
  .immagineBot, .messaggioBot {
    width: 45%; /* o 200px se preferisci dimensione fissa */
    max-width: 200px;
  }

  /* Se vuoi fallback per browser che NON supportano display:contents */
  @supports (display: contents) { /* niente: il codice sopra è già il comportamento desiderato */ }
  @supports not (display: contents) {
    /* fallback: mantieni layout verticale tradizionale, il bot rimarrà all'interno di .sinistra */
    .sinistra { display: flex; flex-direction: column; }
    .punchline { order: 1; }
    .bot { order: 3; margin-top: 20px; }
    .destra { order: 2; }
  }
}