.sfondo{
    background-color: #24002a; /* dark mode */
    color: #ffffff;            /* testo chiaro */
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    
}
.logo{
    padding-left: 20px;
}
.animazione{
    width: 120px;


}
.accesso{
padding-right: 20px;
}
.registrati, .accedi{

}
.registrati{
    padding-left: 20px;
}

.centro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenuto{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.sinistra{
    display: flex;
    flex-direction: column;
    width: 50%;

    padding-left: 20px;
    
}
.punchline{
    display: flex;
    flex-direction: column;
        align-items: center;
        text-align: center;
        height: 500px;
        
    justify-content: center;

}
.descrizione{
    font-size: 2.5em;
    width: 680px;
}
.sottotitolo{
font-size: 2em;
width: 680px;
}
.bot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.immagineBot img  {
    width: 200px;
    
}
.messaggioBot img{
    width: 200px;
    padding-bottom: 300px;
}
.destra{
    display: flex;
    flex-direction: column;
    width: 50%;

    padding-right: 20px;
    
}
.esempiPost{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.postSinistro{
    padding: 20px;
    padding-top: 150px;
}
.postDestro{

}
.banner{
    width: 375px;
    height: 54px;
    background-color: #5d5c5d47;
    display: flex;
    flex-direction: row;
}
.fotoProfilo{
        width: 54px;
    height: 54px;
    display: flex;
        align-items: center;
    justify-content: center;
}
.img-circle {
  width: 42px;      
  height: 42px;
  border-radius: 50%;
  object-fit: cover;  /* riempie il cerchio senza distorsioni */
}
.nomeERuolo{
    color: white;
    width: 321px;       
    height: 54px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
}
.nome{
    font-size: 1em;
     font-weight: bold;
     color: rgb(219, 219, 219);
}
.ruolo{   
    font-size: 0.75em;
    color: #a3a3a3bc;
    font-weight: bold;
}
.fotoPost{
    width: 375px;
    height: 375px;
        border: 1px solid black;
}
.fotoPost img{
    width: 373px;
    height: 373px; 
}
.funzioni{
    width: 375px;
    height: 36px;
    background-color: #5d5c5d47;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
}
.fSinistra {
    display: flex;
    flex-direction: row;
}
p-button{
padding-right: 10px;
}


.fDestra{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.testi{
    width: 375px;
    height: 189px;
 
        background-color: #5d5c5d47;
}
.like{
    font-size: 1.25em;
    padding-left: 12px;
}
.nomeEContenuto{
        width: 375px;
    height: 116px;
    padding: 12px;
}
.mostraCommenti, .aggiungiCommento{
    padding-left: 12px;
    padding-top: 5px;
    color: #a3a3a3bc;
}